# Node
node_modules/
*.log

# Env files
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build outputs
dist/
coverage/

# Obsidian config files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/**/node_modules/
.obsidian/plugins/**/dist/
.obsidian/appearance.json
.obsidian/hotkeys.json

